*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Open Sans",sans-serif;
}
:root{
    --main-color:#0463fa;
    --second-color:#8d8e92;
    --heading-color:#1b2c51;
    --card-bg:#EFF5FF;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.active{
    color: var(--main-color) !important;
}
.style-sec{
    padding: 5px 25px;
    border: 1px solid #C7DCFB;
    border-radius: 20px;
    margin-bottom: 15px;
    display: inline-block;
    line-height: 1.5;
    color: var(--second-color);
    height: fit-content;
}
@media(max-width:767px){
    .before-header{
        display: none;
    }
}

/* start customize header */
.before-header{
    background-color: #eff5ff;
}

header i {
    color: var(--main-color);
}
.be-left span {
    color: var(--main-color);
}
.icon-social .radu{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    color: var(--main-color);
    text-align: center;
    line-height: 2;
    font-size: 15px;
}
.phone span{
    color:var(--second-color);
}
.navbar-brand h2{
    font-weight: bold;
    font-size: 45px;
    color: var(--main-color);
}
.navbar-brand i{
    font-size: 40px;
}

header .nav-link{
    color: #000;
    padding: 0;
}
header .nav-item,.dropdown-toggle i{
    transition: 0.1s;
}
header .nav-item:hover a:not(.no-hov),.dropdown-toggle:hover i{
    color: var(--main-color) !important;
}
.wi-bg{
    background-color: var(--main-color);
    transition: .3s;
}
.wi-bg .nav-link{
    color: #fff;
}
.wi-bg:hover{
    background-color: #0354d5;
}
/* end customize header */

/* start customize first section */
.first{
    background-color: var(--main-color);
}
.text-fir,.first .row{
    justify-content: center;
    align-items: center;
}
.contain-txt{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.contain-txt h2{
    font-size: 55px;
    font-weight: bold;
    color: #fff;
}
.slide-fir .carousel-item h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}
.row-in h3{
    font-weight: bold;
    font-size: 28px;
}
.row-in{
    width: 100%;
    justify-content: space-between;
}
/* end customize first section */

/* start customize about section */
.about-img{
    
}
.about-img img:first-child{
    align-self: flex-end;
    border-radius: 10px;
}
.about-img img:last-child{
    margin-top: -25%;
    border-radius: 20px;
    background: #fff;
    border: 15px solid #fff;
}
.about-text h2{
    font-size: 35px;
    font-weight: bold;
    line-height: 1.3;
    color: var(--heading-color);
}
.about-text p{
    color: var(--second-color);
}
.about .fa-check{
    width: 15px;
    height: 15px;
    line-height: 1.2;
    text-align: center;
    border-radius: 50%;
    color: var(--main-color);
    border: 1.5px solid var(--main-color);
    font-size: 10px;
    padding: 2px;
}
.read a {
    padding: 20px 50px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 30px;
}
/* end customize about section */

/* start customize services */
.title-sec{
    text-align: center;
}
.title-sec h2{
    font-size: 40px;
    font-weight: bold;
    color: var(--heading-color);
}
.ser-card{
    background-color: var(--card-bg);
    transition: all .3s;
    width: 100%;
    height: auto;
}
.ser-card:hover{
    margin-top: -10px !important;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .08);
}
.icon-ser i{
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 25px;
    color: var(--main-color);
}
.text-ser h4{
    font-size: 30px;
    font-weight: bold;
    color: var(--heading-color);
}
.read-ser {
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    transition: all .5s ;
}
.read-ser i{
    width: 30px;
    height: 30px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    color: var(--main-color);
}
.ser-card:hover .read-ser{
    width: 140px;
    border-radius: 30px;
}
/* end customize services */


/* start customize feature section */
.all-cont-txt{
    background-color: var(--main-color);
    padding: 5rem 0 5rem 10rem;
}
.text-feature{
    padding: 5rem 3rem 5rem 0;
}
.feature span.style-sec{
    color: #fff;
}
.text-feature h2{
    font-size: 55px;
    font-weight: bold;
    color: #fff;
}
.text-feature p{
    font-size: 25px;
    color: #fff;
}
.feature .items{
    align-items: center;
}
.item-i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-i i{
    color: var(--main-color);
    font-size: 25px;
}
.item-text{
    color: #fff;
}
.item-text span{
    font-size: 20px;
}
.item-text h3{
    font-size: 25px;
    font-weight: bold;
}

/* .feature .feature-image{
    min-height: 400px;
} */
/* end customize feature section */



/* start customize media */
@media(max-width:767px){
    .first .row{
        flex-direction: column-reverse;
    }
    .contain-txt{
        align-items: flex-start !important;
    }
    .contain-txt h2{
        font-size: 40px;
    }
    .row-in{
        flex-direction: column;
        align-items: flex-start;
    }
    .row-in > div{
        margin-bottom: 1.5rem !important;
    }
    .about-text h2{
        font-size: 28px;
    }
    .title-sec h2{
        font-size: 35px;
    }
    .all-cont-txt{
        background-color: var(--main-color);
        padding: 1rem !important;
    }
    .text-feature{
        padding: 1rem !important;
    }
    .text-feature h2 {
        font-size: 35px;
    }
    .text-feature p {
        font-size: 17px;
    }
}
/* end customize media */